$-text-color: white;

:host {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
}

input {
    color: $-text-color;
}

.title {
    color: $-text-color;
    margin-top: 0;
}

.login-form {
    box-shadow: 0 0 10px 0 rgba(47,51,62,.51);
    border-radius: 6px;
    padding: 2rem;
    background-color: #474b57;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: column;

    .action-section { 
        display: flex;
        align-items: center;
    }

    .error-message {
        color: red;
    }
}

.submit-btn {
    margin-right: 1rem;
}

@media screen and (max-width: 480px) {
    .login-form {
        min-width: 245px;
        max-width: 320px;
        width: 76vw;
    }
}

@media screen and (min-width: 481px) {
    .login-form {
        min-width: 245px;
        max-width: 400px;
        width: 76vw;
    }
}

//TODO: remove
// @media screen and (min-width: 769px) and (max-width: 1024px) {
//     .login-form {
//         // padding: 4rem;
//     }
// }

// @media screen and (min-width: 1025px) and (max-width: 1200px) {
//     .login-form {
//         // padding: 4rem;
//     }
// }